<form [formGroup]="personForm" (ngSubmit)="save()" novalidate>
    <div class="person-container">
        <div>
            <div>
                <span class="p-float-label width-100">
                    <input type="text" pInputText id="firstName" class="width-100" formControlName="firstName" />
                    <label for="firstName">First Name</label>
                    <small class="p-error block"
                        *ngIf="personForm.get('firstName')?.invalid && personForm.get('firstName')?.dirty">
                        {{getErrorMsg('firstName', 'First Name')}}</small>
                </span>
            </div>
            <div>
                <span class="p-float-label width-100">
                    <input type="text" pInputText id="lastName" formControlName="lastName" class="width-100" />
                    <label for="lastName">Last Name</label>
                    <small class="p-error block" *ngIf="showError('lastName')">
                        {{getErrorMsg('lastName', 'Last Name')}}</small>
                </span>
            </div>
        </div>

        <div>
            <span class="p-float-label width-100">
                <input type="text" pInputText id="address" formControlName="address" class=" width-100" />
                <label for="address">Address</label>
                <small class="p-error block" *ngIf="showError('address')">
                    {{getErrorMsg('address', 'Address')}}</small>
            </span>
        </div>

        <div>
            <span class="p-float-label">
                <p-calendar inputId="birth_date" formControlName="dateOfBirth" [showIcon]="true"></p-calendar>
                <label for="birth_date">Birth Date</label>
                <small class="p-error block" *ngIf="showError('dateOfBirth')">
                    {{getErrorMsg('birth_date', 'Birth Date')}}</small>
            </span>

            <span class="p-float-label">
                <input type="text" pInputText id="iban" formControlName="iban" />
                <label for="iban">IBAN</label>
                <small class="p-error block" *ngIf="showError('iban')">
                    {{getErrorMsg('iban', 'IBAN')}}</small>
            </span>

            <span class="p-float-label">
                <input type="text" pInputText id="phoneNumber" formControlName="phoneNumber" />
                <label for="phoneNumber">Phone Number</label>
                <small class="p-error block" *ngIf="showError('phoneNumber')">
                    {{getErrorMsg('phoneNumber', 'Phone Number')}}</small>
            </span>
        </div>

        <div class="btn-container">
            <button pButton type="submit" label="Save" [disabled]="personForm.invalid"></button>
        </div>
    </div>
</form>